extends ../layout
block content
  h1 Showing Album: #{album.album}
  br
  br
  h5 Genre: #{album.genre}
  br
  h5 Artist: #{album.artist}
  br
  a(href='/albums/#{album._id}/edit') Edit
  br
  br
  form(name="new-album" method="POST" action="/albums/#{album._id}?_method=DELETE")
    input(type="submit" value="Delete")
